*{
  box-sizing: border-box;
}
body{
  background-color: #bdbbbb;
  text-align: center;
}
.logo-text {
  font-family: 'Impact', sans-serif; /* Impact is a close approximation */
  font-weight: bold;
  font-size: 60px; /* Adjust based on your needs */
  color: #FFCC00; /* Yellow text color */
  text-shadow: 
    -1px -1px 0 #FF0000, /* Red shadow */
    1px -1px 0 #FF0000,
    -1px 1px 0 #FF0000,
    1px 1px 0 #FF0000,
    3px 3px 0 #FF0000; /* Further red shadow for a thicker outline */
    text-align: center;
    margin-bottom: 20px;
}

#n-queen-board{
  display: flex;
  gap: 20px;
}

.box{
  height: 30px;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FFCC00;
  border-style: solid;
border-width: 1px;
}
.board{
  text-align: center;
  display: flex;
  justify-content: center;
}
.table-heading{
    
  background-color: #011627;
  color: #fdfffc;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0px;
}
.slider-container{
  justify-content: center;
  gap: 30px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
}